.listContainer {
  list-style: none;
  border: 2px solid #2f4f4f;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}
.thumbnail {
  width: 300px;
  height: 150px;
  margin-right: 20px;
}
.avatar {
  width: 60px;
  border-radius: 60px;
  margin-right: 20px;
}
.flexRow {
  display: flex;
}
.link {
  text-decoration: none;
}
